# Datasets
*.csv
*.zip

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Model files
models/*.pkl
models/*.joblib

# OS files
.DS_Store
Thumbs.db